<header>
  <div class="top">
    <div id="introContainer">
      <div class="intro">
        <span>대한민국 최초의 소프트웨어 마이스터고등학교</span>
        <span class="s1">대덕</span> <span class="s2">SW</span>
        <span class="s3">마이스터고</span>
      </div>
    </div>
    <div id="menuContainer">
      <div class="menu">
        <img src="/board/img/Logo.png" />
        <ul class="menuList">
          <li><a href="/">홈<a></li>
          <li><a href="/post/search?keyword=">QnA</a></li>
          <li><a href="/user/profile/1">마이페이지</a></li>
        </ul>
        <form action="/post/search" method="get" id="searchContainer">
          <label for="keyword">
            <input
              placeholder="궁금한것들을 검색해보세요!"
              class="searchBar"
              name="keyword"
          /></label>
          <input
            type="image"
            alt="검색버튼"
            src="/board/img/search"
            class="searchBut"
          />
        </form>
        <div id="userContainer">
          <img src="/board/img/testuserIcon.png" />
          <img src="/board/img/userbar.png" class="userBar" />
        </div>
      </div>
    </div>
  </div>
</header>
