<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>logIn</title>
    <style>
      body {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      #container {
        margin-top: 120px;
        width: 350px;
        height: 400px;
        border: black solid;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      span {
        padding-bottom: 20px;
      }
      img {
        margin: 20px 0px;
      }

      input {
        border-radius: 5px;
        height: 50px;
        width: 293px;
      }
      .loginBut {
        margin-top: 10px;
        width: 300px;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <img src="/img/Logo.png" />
      <span><%=message%></span>
      <form method="post" action="/user/logIn">
        <label for="userName"></label>
        <input
          name="userName"
          type="text"
          required
          placeholder="아이디"
          autocomplete="off"
        /><br />
        <label for="password"></label>
        <input
          name="password"
          type="password"
          required
          placeholder="비밀번호"
          autocomplete="off"
        /><br />
        <input type="submit" class="loginBut" value="로그인" />
      </form>
      <span style="margin-top: 10px"
        >계정이 없으신가요? <a href="/user/signUp">회원가입</a></span
      >
    </div>
  </body>
</html>
