<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%=user.userName%>님의 프로필</h1>
    <table border="1">
      <tr>
        <td>이메일</td>
        <td><%=user.email%></td>
      </tr>
      <tr>
        <td>가입일</td>
        <td><%=user.createdAt%></td>
      </tr>
    </table>
    <br />
    <%if(user.userID == cookieUser.userID){%>
    <form method="post" action="/user/logOut">
      <input type="submit" value="로그아웃" />
    </form>
    <form method="get" action="/user">
      <input type="submit" value="회원 탈퇴" />
    </form>
    <form method="get" action="/user/password">
      <input type="submit" value="비밀번호 수정" />
    </form>
    <%}%>
  </body>
</html>
