<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글 등록 페이지</title>
    <link href="/board/css/top.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="top">
      <a href="/post/search?keyword=" class="title">board!</a>
      <span class="menu">
        <a href="/post/search?keyword=">home</a>
        <a href="/post/create">write</a>
        <a href="/user/logIn">LogIn</a>
      </span>
      <form method="get" action="/post/search" class="search">
        <span class="searchBar">
          <label for="keyword"></label>
          <input
            type="text"
            name="keyword"
            autocomplete="off"
            placeholder="검색어를 입력해주세요"
          />
          <input type="submit" value="검색" />
        </span>
      </form>
    </div>
    <form method="post" action="/post/create">
      <div>
        <label for="title">제목</label>
        <input
          name="title"
          type="text"
          placeholder="제목을 입력해주세요"
          required
        />
      </div>
      <div>
        <label>이름</label>
        <input type="text" value="<%=user.userName%>" readonly />
      </div>
      <div>
        <label for="content">내용</label>
        <textarea
          name="content"
          placeholder="내용을 입력해주세요"
          required
        ></textarea>
      </div>
      <input type="submit" value="포스트" />
    </form>
  </body>
</html>
