<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글 등록 페이지</title>
    <link href="/board/css/top.css" type="text/css" rel="stylesheet" />
    <style>
      hr + form {
        margin: 0px 150px;
      }
      div.butContainer {
        display: flex;
        justify-content: flex-end;
      }
      .submitBut {
        margin-top: 5px;
        width: 70px;
        height: 30px;
        border-radius: 40px;
        border: blue solid;
        background-color: blue;
        color: white;
        font-weight: 800;
      }
      .postTitle {
        margin: 10px 0px;
        width: 1200px;
        height: 100px;
        border-radius: 40px;
        font-size: 40px;
        padding-left: 40px;
      }
      textarea {
        border-radius: 40px;
        width: 1180px;
        height: 400px;
        padding: 20px 30px 20px;
      }
    </style>
  </head>
  <body>
    <div class="top">
      <a href="/post/search?keyword=" class="title">board!</a>
      <span class="menu">
        <a href="/post/search?keyword=">home</a>
        <a href="/post/create">write</a>
        <a href="/user/logIn">LogIn</a>
      </span>
      <form method="get" action="/post/search" class="search">
        <div>
          <label for="keyword"></label>
          <input
            class="searchBar"
            type="text"
            name="keyword"
            autocomplete="off"
            placeholder="검색어를 입력해주세요"
          />
          <input class="searchBut" type="image" src="/board/img/search" />
        </div>
      </form>
    </div>
    <hr />
    <form method="post" action="/post/create">
      <div>
        <label for="title"></label>
        <input
          class="postTitle"
          name="title"
          type="text"
          placeholder="제목을 입력해주세요"
          required
        />
      </div>
      <div>
        <label for="content"></label>
        <textarea
          name="content"
          placeholder="내용을 입력해주세요"
          required
        ></textarea>
      </div>
      <div class="butContainer">
        <input class="submitBut" type="submit" value="POST" />
      </div>
    </form>
  </body>
</html>
