<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글 등록 페이지</title>
    <link href="/board/css/top.css" type="text/css" rel="stylesheet" />
    <style>
      #postContainer {
        background-color: #ebebeb;
        padding-bottom: 20px;
        margin: 40px 150px 40px;
      }
      #formContainer {
        display: inline-block;
        text-align: center;
      }
      .postTitle {
        margin: 50px 0px 20px;
        width: 1100px;
        height: 70px;
        border-radius: 10px;
        font-size: 20px;
        padding-left: 40px;
        background: #d9d9d9;
      }
      textarea {
        border-radius: 10px;
        width: 1084px;
        height: 350px;
        padding: 20px 30px 0px;
        background: #d9d9d9;
      }
      #formContainer > form {
        display: inline-block;
      }
      #butContainer > input {
        border-radius: 40px;
        background: #d9d9d9;
        border: #d9d9d9 solid;
        width: 100px;
        height: 45px;
        margin-top: 5px;
        color: #000;
        font-family: Inter;
        font-size: 15px;
        font-weight: 300;
      }
      form {
        margin-left: 10px;
        display: inline-block;
      }
      #butContainer {
        display: flex;
        justify-content: flex-end;
        margin: 20px 40px 10px;
      }
    </style>
  </head>
  <body>
    <%- include('./layout/header') %>
    <div id="postContainer">
      <div id="formContainer">
        <form action="/post/create" method="post">
          <div class="post">
            <input
              name="title"
              class="postTitle"
              type="text"
              placeholder="궁금한 질문을 대표할만한 제목을 적어주세요!"
            />
            <textarea
              name="content"
              placeholder="궁금한 질문을 자유롭게 적어주세요!"
            ></textarea>
          </div>
          <div id="butContainer">
            <input type="submit" value="글 작성" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
