<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/board/css/top.css" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header')%>
    <div id="introduction">
      <img class="schoolImg" src="/board/img/schoolImg.png" />
      <p class="schoolIntro">
        대한민국 IT인재 육성의 최전선<br />
        대덕 SW 마이스터고
      </p>
  </body>
</html>
